.main {
  display: flex;
  margin: 2% 15%;
  flex-wrap: wrap;
  justify-content: center;

  .artifactIconWrapper {
    color: white;
    padding: 5px 20px;
    border-bottom: 2px solid white;
    margin: 5px;
    width: 100px;
    height: 80px;

    &:hover {
      color:  #6c757d;
    }
  }
}

.mainWrapper {
  position: relative;
  padding: 100px 0;
  font-size: 20px;

  .artifactsWrapper {
    color: white;
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .artifact {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .images {
        width: 120px;
        height: 120px;
      }

      .statsWrapper {
        h1 {
          display: inline-block;
          margin: 15px 0;
          border-bottom: 3px solid #6c757d;
        }
      }
    }

  }

  .buttons {

    button {
      //z-index: 1;
      //width: 60px;
      //height: 60px;
      //border: 2px solid white;
      //color: white;
      //transform: rotateZ(45deg);
      //background: rgba(0, 0, 0, 0.6);
      z-index: 1;
      width: 0;
      height: 0;
      background: rgba(0, 0, 0, 0);
      border-left: none;
      border-top: 50px solid transparent;
      border-right: 100px solid rgba(255, 255, 255, 0.6);
      border-bottom: 50px solid transparent;

      &:nth-child(1) {
        position: absolute;
        left: 25%;
        top: 50%;
      }

      &:nth-child(2) {
        position: absolute;
        right: 25%;
        top: 50%;
        transform: rotateZ(180deg);
      }

      &:hover {
        border-right: 100px solid #6c757d;
      }
    }
  }

  .blurWrapper {
    div {
      width: 40%;
      height: 100%;

      &:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 50%, rgba(49, 53, 57, 0) 80%);
      }

      &:nth-child(2) {
        position: absolute;
        right: 0;
        top: 0;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.6) 50%, rgba(49, 53, 57, 0) 80%);
      }
    }
  }
}

@media (width<=1000px) {
  .main {
    margin: 2% 10%;
  }
}

@media (width<=750px) {
  .main {
    margin: 2% 5%;
  }
}

@media (width<=1000px) {
  .mainWrapper {
    .artifactsWrapper {
      .images {
        width: 100px;
        height: 100px;
      }
    }

    .buttons {

      button {
        border-right: 70px solid rgba(255, 255, 255, 0.6);

        &:nth-child(1) {
          left: 15%;
        }

        &:nth-child(2) {
          right: 15%;
        }
      }
    }

    .blurWrapper {
      div {
        width: 35%;
      }
    }
  }
}