.main {
  width: 70%;
  //height: 1000px;
  margin: 50px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  //flex-direction: column;
  //justify-content: space-between;
  color: white;

  .filtersWrapper {
    flex: 1;
    text-align: start;
    //border: 2px solid #0057ff;

    .filterWrapper {
      cursor: pointer;
      .nameFilter {
        font-size: 24px;
      }
      .rotatedArrow{
        position: relative;
        bottom: 0;
        width: 24px;
        height: 24px;
        transform: rotateZ(90deg);
      }

      .searchWrapper {
        display: flex;
        margin-top: 12px;
        position: relative;

        .inputSearch {
          width: 100%;
          background: #313539;
          border: 0;
          border-bottom: 1px solid #6c757d;
          padding: 12px 12px 12px 20px;
          -webkit-appearance: none;
          caret-color: white;
          color: white;

          &::placeholder {
            color: gray;
          }

          &:focus {
            outline: 0;
            border-bottom: 1px solid white;
            animation: searchBorder 0.2s linear;
          }

          &::-webkit-search-cancel-button {
            -webkit-appearance: none;
          }
        }

        .loupe {
          height: 100%;
          width: 50px;
          //width: ;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: 0;
          bottom: 1%;
          border: 2px solid white;
          background: #000000;
          line-height: 28px;
        }
      }

      .filter {
        font-size: 18px;
        border-bottom: 1px solid white;
        padding: 12px 0 12px 0;
        //margin-left: 30px;

        &:hover {
          cursor: pointer;
          animation: hoverFilter linear 0.2s;
          color: #6c757d;
        }
      }

      .activeFilter {
        color: red;
      }
    }

    .resetButton {
      width: 100%;
      border: 1px solid #31b0d5;
      border-radius: 5px;
      color: #31b0d5;
      background: black;
      padding: 16px 70px;
      font-weight: bold;
      font-size: 16px;
    }
  }

  .heroes {
    margin-top: 50px;
    flex: 3;
    margin-left: 5%;

    .countHeroes {
      //margin-left: 1%;
      text-align: start;
      font-size: 34px;
    }

    .heroesWrapper {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      //gap: 8px;
      row-gap: 16px;
      justify-content: center;

    }
  }
}

.hero {
  color: white;
  display: inline-block;
  max-width: 120px;

  .name {
    text-align: center;
  }

  .hero__view {
    display: inline-block;
    line-height: 0;
    position: relative;
    margin-left: 10px;

    .avatarWrapper {
      width: 100px;
      height: 130px;
      //background: #acc1e1;
      animation: ease-out 2.5s noAvatar infinite;

      .ava {
        max-width: 100%;
      }
    }

    .affinity {
      width: 30%;
      position: absolute;
      bottom: 5%;
      left: 5%;
    }
  }

  .legendary {
    max-width: 100%;
    border: 5px solid gold
  }

  .epic {
    max-width: 100%;
    border: 5px solid #8d048d;
  }

  .rare {
    max-width: 100%;
    border: 5px solid blue;
  }

  .uncommon {
    max-width: 100%;
    border: 5px solid green;
  }

  .common {
    max-width: 100%;
    border: 5px solid #676464;
  }
}


@keyframes noAvatar {
  0% {
    background: gray;
  }
  50% {
    background: #c0c0c0;
  }
  100% {
    background: gray;
  }
}

@keyframes hoverFilter {
  0% {
    color: white;
  }
  100% {
    color: #6c757d;
  }
}

@keyframes searchBorder {
  0% {
    border-bottom: 1px solid #6c757d;
  }
  100% {
    border-bottom: 1px solid white;
  }
}

@media (width<650px) {
  .main {
    flex-direction: column;
  }
}

